# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [38]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [39]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/sql_hw")

query3 = """
select c.id,cast(a.date as date), a.amount from transaction a
inner join credit_card b on a.card = b.card
inner join card_holder c on b.cardholder_id = c.id
inner join merchant d on a.id_merchant = d.id
inner join merchant_category e on d.id_merchant_category = e.id

"""

df_challenge = pd.read_sql(query3, engine)
df_challenge

      id        date  amount
0     13  2018-01-01    6.22
1     13  2018-01-01    3.83
2     10  2018-01-01    9.61
3      4  2018-01-01   19.03
4     18  2018-01-01    2.95
...   ..         ...     ...
3495  15  2018-12-31    4.84
3496  10  2018-12-31    3.26
3497  19  2018-12-31   10.73
3498  23  2018-12-31   11.87
3499  15  2018-12-31   19.75

[3500 rows x 3 columns]

In [42]:
# Write function that locates outliers using standard deviation

def card_transaction(input_id):
    return df_challenge.loc[df_challenge['id']==input_id, 'amount']

def outliers(input_id):
    df_challenge =card_transaction(input_id)
    return pd.DataFrame(df_challenge[df_challenge> df_challenge.mean()+3*df_challenge.std()])

In [47]:
# Find anomalous transactions for 3 random card holders
rand_card_holders = np.random.randint(1,25,3)
rand_card_holders

for id in rand_card_holders:
    if len(outliers(id)) == 0:
        print(f"Cardholder {id} has no outliers.")
    else:
        print(f"Cardholder {id} has the following outlier transactions:")
        print(f"{outliers(id)}")

Cardholder 19 has no outliers.
Cardholder 3 has the following outlier transactions:
      amount
1886  1159.0
1913  1160.0
Cardholder 4 has no outliers.

## Identifying Outliers Using Interquartile Range

In [48]:
# Write a function that locates outliers using interquartile range
def outliers_iqr(input_id):
    df_challenge =card_transaction(input_id)
    IQR_threshold = np.quantile(df_challenge, .75)+(np.quantile(df_challenge, .75)-np.quantile(df_challenge, .25))*1.5
    return pd.DataFrame(df_challenge[df_challenge> IQR_threshold])

In [49]:
# Find anomalous transactions for 3 random card holders
for id in rand_card_holders:
    if len(outliers_iqr(id)) == 0:
        print(f"Cardholder {id} has no outliers.")
    else:
        print(f"Cardholder {id} has the following outlier transactions:")
        print(f"{outliers_iqr(id)}")

Cardholder 19 has no outliers.
Cardholder 3 has the following outlier transactions:
      amount
575   1119.0
1886  1159.0
1913  1160.0
2268   188.0
2409   626.0
2702   757.0
2750   206.0
2811  1053.0
3122  1054.0
3472   313.0
Cardholder 4 has no outliers.